.Dashboard {
    display: flex;
    padding-left: 60px;
    padding-top: 80px;
    gap: 20px;
  }
  
  .left-panel, .right-panel {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .left-panel {
    flex: 0.6;
  }
  
  .right-panel {
    flex: 0.4;
  }
  
  .reservation-card, .apartment-card {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .reservation-card p, .apartment-card p {
    margin: 5px 0;
  }

  @media screen and (max-width: 700px){
      .Dashboard{
        flex-direction: column;
      }
  }